<div>
  <h2>Delete Financial Institution</h2>
  <div>
    <label>FinancialInstitutionID:
      <input [(ngModel)]="financialInstitutionData.FinancialInstitutionID" placeholder="FinancialInstitutionID" disabled/>
    </label><br>
    <label>UserAccountID:
      <input [(ngModel)]="financialInstitutionData.UserAccountID" placeholder="UserAccountID" disabled/>
    </label><br>
    <label>AccountName:
      <input [(ngModel)]="financialInstitutionData.AccountName" placeholder="AccountName" disabled/>
    </label><br>
    <label>NickName:
      <input [(ngModel)]="financialInstitutionData.NickName" placeholder="NickName" disabled/>
    </label><br>
    <label>AccountNumber:
      <input [(ngModel)]="financialInstitutionData.AccountNumber" placeholder="AccountNumber" disabled/>
    </label><br>
    <label>InstitutionName:
        <input [(ngModel)]="financialInstitutionData.InstitutionName" placeholder="InstitutionName" disabled/>
      </label><br>
      <label>InstitutionIFSCCode:
          <input [(ngModel)]="financialInstitutionData.InstitutionIFSCCode" placeholder="InstitutionIFSCCode" disabled/>
        </label><br>
        <label>InstitutionLocation:
          <input [(ngModel)]="financialInstitutionData.InstitutionLocation" placeholder="InstitutionLocation" disabled/>
        </label><br>
        <label>InstitutionCity:
          <input [(ngModel)]="financialInstitutionData.InstitutionCity" placeholder="InstitutionCity" disabled/>
        </label><br>
        <label>CreatedDate:
          <input [(ngModel)]="financialInstitutionData.CreatedDate" placeholder="CreatedDate" disabled/>
        </label><br>
        <label>CreatedBy:
          <input [(ngModel)]="financialInstitutionData.CreatedBy" placeholder="CreatedBy" disabled/>
        </label><br>
        <label>LastModifiedDate:
            <input [(ngModel)]="financialInstitutionData.LastModifiedDate" placeholder="LastModifiedDate" disabled/>
          </label><br>
          <label>LastModifiedBy:
              <input [(ngModel)]="financialInstitutionData.LastModifiedBy" placeholder="LastModifiedBy" disabled/>
            </label><br>

  </div>
  <button (click)="deleteFinancialInstitution()">Delete</button>
</div>

