<div>
  <h2>Delete Cash Payment</h2>
  <div>
    <label>CashPaymentID:
      <input [(ngModel)]="cashPaymentData.CashPaymentID" placeholder="Operator Name" disabled/>
    </label><br>
    <label>UserAccountID:
      <input [(ngModel)]="cashPaymentData.UserAccountID" placeholder="Created Date" disabled/>
    </label><br>
    <label>PaymentDate:
      <input [(ngModel)]="cashPaymentData.PaymentDate" placeholder="Created By" disabled/>
    </label><br>
    <label>PaymentAmount:
      <input [(ngModel)]="cashPaymentData.PaymentAmount" placeholder="Created By" disabled/>
    </label><br>
    <label>CreatedDate:
      <input [(ngModel)]="cashPaymentData.CreatedDate" placeholder="Created By" disabled/>
    </label><br>
    <label>CreatedBy:
      <input [(ngModel)]="cashPaymentData.CreatedBy" placeholder="Created By" disabled/>
    </label><br>
    <label>LastModifiedDate:
      <input [(ngModel)]="cashPaymentData.LastModifiedDate" placeholder="Created By" disabled/>
    </label><br>
    <label>LastModifiedBy:
      <input [(ngModel)]="cashPaymentData.LastModifiedBy" placeholder="Created By" disabled/>
    </label><br>
   
  </div>
  <button (click)="deleteCashPayment()">Delete</button>
</div>

 
