<div>
  <h2>DataEntryOperatorName</h2>
  <div>
    <input type="hidden" [(ngModel)]="operatorData.DataEntryOperatorID"/>       
    <label>Operator Name:
      <input [(ngModel)]="operatorData.DataEntryOperatorName" placeholder="Operator Name"/>
    </label><br>
    <label>Created Date:
      <input [(ngModel)]="operatorData.CreatedDate" placeholder="Created Date"/>
    </label><br>
    <label>Created By:
      <input [(ngModel)]="operatorData.CreatedBy" placeholder="Created By"/>
    </label><br>
    
  </div>
  <button (click)="updateOperator()">Update</button>
</div>