<div>
  <h2>Add Cash Payment Status</h2>
  <div>
    <label>CashPaymentID:
      <input [(ngModel)]="cashPaymentStatusData.CashPaymentStatusID" placeholder="CashPaymentStatusID"/>
    </label><br>    
    <label>CashPaymentStatusName:
      <input [(ngModel)]="cashPaymentStatusData.CashPaymentStatusName" placeholder="CashPaymentStatusName"/>
    </label><br>    
    <label>CreatedDate:
      <input [(ngModel)]="cashPaymentStatusData.CreatedDate" placeholder="Created By"/>
    </label><br>
    <label>CreatedBy:
      <input [(ngModel)]="cashPaymentStatusData.CreatedBy" placeholder="Created By"/>
    </label><br>
    <label>LastModifiedDate:
      <input [(ngModel)]="cashPaymentStatusData.LastModifiedDate" placeholder="Created By"/>
    </label><br>
    <label>LastModifiedBy:
      <input [(ngModel)]="cashPaymentStatusData.LastModifiedBy" placeholder="Created By"/>
    </label><br>
   
  </div>
  <button (click)="addCashPaymentStatus()">Save</button>
</div>

 
