<div>
  <h2>Update Cash Request Status</h2>
  <div>
    <label>CashRequestStatusID:
      <input [(ngModel)]="cashRequestStatusData.CashRequestStatusID" placeholder="CashRequestStatusID" disabled/>
    </label><br>
    <label>CashRequestStatusName:
      <input [(ngModel)]="cashRequestStatusData.CashRequestStatusName" placeholder="CashRequestStatusName" disabled/>
    </label><br>
    <label>CreatedDate:
      <input [(ngModel)]="cashRequestStatusData.CreatedDate" placeholder="CreatedDate" disabled/>
    </label><br>
    <label>CreatedBy:
      <input [(ngModel)]="cashRequestStatusData.CreatedBy" placeholder="CreatedBy" disabled/>
    </label><br>
    <label>LastModifiedDate:
      <input [(ngModel)]="cashRequestStatusData.LastModifiedDate" placeholder="LastModifiedDate" disabled/>
    </label><br>
    <label>LastModifiedBy:
        <input [(ngModel)]="cashRequestStatusData.LastModifiedBy" placeholder="LastModifiedBy" disabled/>
      </label><br>
     

  </div>
  <button (click)="deleteCashRequestStatus()">Delete</button>
</div>

